<% if user_signed_in? %>
	<h1> Use these activities to assemble your program. </h1>
	<%= form_tag search_cards_path, :method => :get do |f| %>
	<%= text_field_tag :query, params[:query] %>
	<%= submit_tag "Search", :name => nil %>
	<% end %>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to the Singularity University Curriculum Inventory Tool</h1>
		<br>
		<img src="SU_Logo_Color_screen.png">
		<br>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>



